div[class^="article"] {
    color: white;
    font-weight: 300;
    text-align: center;
}

    .article__category {
        font-size: 13px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .8);
        line-height: 50px;
        letter-spacing: 2px;
        position: relative;
    }

    .article__background {
        width: 100%;
        height: inherit;
        // filter: blur(2px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .article__text {
        position: absolute;
        padding: 35px 35px 15px;
        bottom: 0px;
    }

    .article__title {
        font-size: 26px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .article__sinopsis {
        font-size: 16px;
    }

    .article__title,
    .article__sinopsis {
        line-height: 32.4px;
        margin-bottom: 20px;
    }

    .article--featured,
    .article--big,
    .article--medium,
    .article--small-1,
    .article--small-2 {
        position: relative;
    }

    .article--featured {
        height: 500px;
        width: 100vw;

        .article__text {
            position: absolute;
            padding: 35px;
            bottom: 0px;
        }

        .article__title {
            text-transform: none;
            font-size: 28px;
        }

        .article__sinopsis {
            font-size: 18px;
            color: rgba(255, 255, 255, .8);
        }
    }

    .article--big,
    .article--medium,
    .article--small-1,
    .article--small-2 {
        height: 400px;

        .article__text {
            width: calc(100% - 70px);
        }
    }

    .article--big {
        grid-area: big;
    }

    .article--medium {
        grid-area: med;
    }

    .article--small-1 {
        grid-area: sm1;
    }

    .article--small-2 {
        grid-area: sm2;
    }

// Article layout

.articles {
    display: grid;
    padding: 50px 0 128px;
}

[class^="article-group"] {
    display: grid;
    grid-gap: 30px;
    padding-top: 30px;
}

    .article-group--left,
    .article-group--right {
        grid-template-rows: repeat(4, 400px);
        grid-template-columns: 100%;
        grid-template-areas:
            "big"
            "med"
            "sm1"
            "sm2"
    }

    .article-group--center,
    .article-group--alt-left {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 400px);

        .article--big,
        [class^="article--small-"] {
            grid-area: auto;
        }
    }