.main-container {
    left: -270px;
    width: calc(100vw + 270px);
    overflow: hidden;
    transition: .45s;
    position: relative;
    background-color: #fbfbfb;
}

.main-container.active {
    left: 0;
    width: 100vw;
}

    .full-page {
        width: 100vw;
        position: relative;
        left: 270px;
    }

        .hamburger {
            position: fixed;
            margin: 20px;
            z-index: 10;
            padding: 15px 0;
        }

            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after, {
                background-color: rgba(190, 190, 190, .8);
            }

