.pagination {
    margin: 16px 0;


    li {
        margin: 8px;
        font-size: 18px;
        display: inline-block;
    }

    li.active {
        padding: 8px;
        color: white;
        font-weight: 600;
        margin: 0 0 0 8px;
        background-color: black;
    }

    li.disabled {
        display: none;
    }
}