.post {
    padding-top: 90px;
    background-color: white;
}

    .post__thumbnail {
        @include background(400px, calc(100% - 30px));
        margin: auto;
    }

    .post__metadata,
    .post__content,
    .post__comments {
        width: calc(100% - 30px);
        margin: auto;

        p {
            font-size: 12px;
            margin: 16px 0;
            line-height: 1.6;

            a, span {
                font-weight: 600;
            }
        }

        h1 {
            line-height: 1.3;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 250%;
            width: 80%;
        }
    }

    .post__content {
        padding-bottom: 48px;

        p:first-of-type {
            margin-top: 48px;
        }

        p {
            font-weight: lighter;
            font-size: 16px;
            letter-spacing: .5px;
        }
    }

.comment {
    padding-bottom: 16px;
}

.comment:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}

    .comment__metadata {
        font-size: 16px;

        span {
            font-weight: 600;
        }

        .date {
            // margin-left: 8px;
            float: right;
            font-weight: lighter;
            color: rgba(0, 0, 0, .6);
        }
    }

    .comment__form {
        padding: 32px 0;
    }

        .form-group {
            label,
            button.form-control {
                display: block;
                font-size: 16px;
                margin-bottom: 8px;
                font-weight: lighter;
            }

            .form-control {
                padding: 16px;
                margin-bottom: 16px;
                width: calc(100% - 33px);
                border: 1px solid rgba(0, 0, 0, .6);
            }

            button.form-control {
                background: transparent;
                width: 100%;
            }
        }

        .form-group:first-of-type {
            margin-top: 32px;
        }

.right {
    float: right;
    color: rgba(0, 0, 0, .6);
}

.all-comments {
    padding-top: 32px;

    a {
        font-weight: 600;
    }
}

.alert-success,
.alert-danger {
    margin-top: 32px;
    padding: 16px;
    font-size: 16px;

    p {
        margin: 0;
    }

    span {
        font-weight: 600;
    }
}

.alert-success {
    background-color: rgba(211, 227, 210, .8);
}

.alert-danger {
    background-color: rgba(255, 183, 183, .8);
}